body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final {
    width: 300px;
    height: 300px;
    background: red;
    border: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
}

.hidden {
    display: none;
}

.game-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

